

.searchresult_container{
    width: 80%;
    min-height: 70px;
    background-color: var(--background);
    border-radius: 20px;
    margin-bottom: 5px;
    transition: all .5s ease;
    cursor: pointer;
    border: 2px solid black;
    display: flex;
    align-items: center;
    padding: 10px;
   overflow: hidden;

}

.searchresult_container:hover{
 transform: translateX(10px);
}

.searchresult_container img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.searchresult_container h3{

    width: 100%;
    padding-left: 10px;
    font-weight: 100;
}
