

.searchresult_container{
    width:100%;
    min-height: 70px;
    background: white;
    border:1px solid rgba(0, 0, 0, 0.104);
    margin-bottom: 5px;
    transition: all .3s ease;
    cursor: pointer;

    display: flex;
    align-items: center;
    padding: 10px;
   overflow: hidden;

}

.searchresult_container:hover{
 /* transform: translateX(10px); */
 background: rgba(0,163,255,0.15);
}

.searchresult_container img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.searchresult_container h3{

    width: 100%;
    padding-left: 10px;
    font-weight: 100;
}

