.chat{
    max-width: 45%;
    display: flex;
    position: relative;

}


.userChat:hover .trashChat{
   display: block;
   cursor: pointer;
}

.userChat .trashChat{
    background-color: transparent;
    outline:none;
    border:none;
    display: none;
}


.trashChat:active .userChat{

}


.receiver .userChat .chatContent{
   flex-direction: row-reverse;
     
}



.chatContent p{
    max-width: max-content;
    background-color: var(--background);
    padding: 10px 20px;
    border-radius: 0px 20px 20px 20px;
}

.userChat img{
    width: 30px;
    height: 30px;
    position: absolute;
    top:-30px;
    left: -28px;
    border-radius: 50%;
    object-fit: cover;
}

.chatContent{
    display: flex;
}


.user{
   align-self:flex-end;
}



.user .userChat .chatContent p
{
    max-width: max-content;
    background-color: var(--background);
    padding: 10px 20px;
    border-radius: 20px 0px 20px 20px;
}

.user .userChat img{
    width: 30px;
    height: 30px;
    position: absolute;
    left:100%;
    border-radius: 50%;
    object-fit: cover;

}

.deletedMessage{
    min-width: 120px;
    text-align: center;
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.21);
    border-radius: 10px;
    font-size: 10px;
}