.left_topbar{
    width: 100%;
    height: 9%;
    display: flex;
    align-items: center;
    padding:5px;
    background-color: var(--color3);
    justify-content: space-between;
    padding-right: 10px;

}



.user_container{
    display: flex;
    min-width: 9rem;
    align-items: center;
    padding-left:10px;
   
}

.user_container img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    object-fit: cover;
}

.user_container p
{
    font-size: 20px;
    padding-left:10px;
    color:rgba(255, 255, 255, 0.843);
    font-weight: 400;
}




.logoutBtn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    width:50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(5, 65, 65);
  }
  
  /* plus logoutBtnsign */
  .logoutBtnsign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logoutBtnsign svg {
    width: 17px;
  }
  
  .logoutBtnsign svg path {
    fill: white;
  }
  /* logoutBtntext */
  .logoutBtntext {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .logoutBtn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .logoutBtn:hover .logoutBtnsign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's logoutBtntext */
  .logoutBtn:hover .logoutBtntext {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .logoutBtn:active {
    transform: translate(2px ,2px);
  }
