.input_container{
    width:100%;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 0 10px;

}

.input_box{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
}

.input_box input{
    width: 100%;
    height: 40px;
    font-size: 17px;
    border: none;
    outline: none;
    background-color: inherit;
    color:rgba(255, 255, 255, 0.843);
    resize: none;
    
}

.input_box .send{
  
    width: 40px;
    height: 40px;
    border-radius:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:10px;
    cursor: pointer;
    color:#558BF2;
}

.input_box .send:hover{
    background-color:rgba(20,108,148,0.2)
}

.attachfile{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.attachfile .attachicon{
    font-size: 30px;
    transform: rotateZ(20deg);
    cursor: pointer;
}

.attachfile:hover{
    background-color:rgba(175,211,226,0.2);
   
}


.emoji_container{
display: flex;
justify-content: center;
align-items: center;
width:50px;
height: 50px;
 cursor: pointer;
 position: relative;
}

.emoji_button{
    width:30px !important;
    height: 30px !important;
    color:rgba(167, 167, 167, 0.843);
    font-weight: 100 !important;
}

.emoji_container .emoji_window{
position: absolute;
top:-300px;
z-index: 0;

}


@media only screen and (max-width:792px)
{
    .emoji_container .emoji_window{
        position: absolute;
        top:-300px;
        left:50%;
   }
    
}

/* .mic_button{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.mic_button .mic_icon{
    cursor: pointer;
    font-size: 30px;
}

.mic_button:hover{
    background-color:rgba(175,211,226,0.2);
} */

