.search_container{
 
    width: 100%;
    height: 6%;
    display: flex;
    background-color: var(--color2);
    padding: 5px 10px;
    position: relative;
    margin-bottom: 10px;
}

.search_bar{
    display: flex;
    width: 100%;
    background-color: var(--color1);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #CCCFD0;
}

.search_bar input{
    width: 100%;
    outline: none;
    border:none;
    font-size: 15px;
    background-color: var(--color1);
    padding:5px;
    padding-left:20px;

}

.search_results{
    width: 96.5%;
    height: 84vh;
    position: absolute;
    top: 50px;
    background: rgba(20, 108, 148, 0.46);
    border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.5px);
-webkit-backdrop-filter: blur(7.5px);
z-index: 400;
overflow-y:auto;

display: flex;
flex-direction: column;
align-items: center;
padding:5px;
    
}


@media only screen and (max-width:792px)
{

    .search_results{
        width:94%;
    }
    
}

@media only screen and (max-width:400px)
{

    .search_results{
        font-size: 13px;
    }
    
}